Source: dbacl
Section: text
Priority: optional
Build-Depends: autoconf, automake, autotools-dev, debhelper (>= 9), libncurses5-dev,  libreadline-gplv2-dev, libslang2-dev
Build-Conflicts: autoconf2.13, automake1.4
Maintainer: Zak B. Elep <zakame@zakame.net>
Standards-Version: 3.9.3
Homepage: http://www.lbreyer.com/dbacl.html
Vcs-Browser: https://github.com/zakame/debian-pkg-dbacl
Vcs-Git: git://github.com/zakame/debian-pkg-dbacl.git

Package: dbacl
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: digramic Bayesian text classifier
 dbacl can distill text documents into categories, and then
 compare other text documents to the learned categories. 
 .
 It can be used to recognize spam, and more generally
 sort incoming email into any number of categories such as
 work, play, and so on.
 .
 As a noise filter, it can be useful during the indexing of
 personal document collections.
