Source: dbacl
Section: text
Priority: optional
Build-Depends: cdbs, debhelper (>= 5.0.0), libreadline-gplv2-dev, libslang2-dev
Maintainer: Zak B. Elep <zakame@zakame.net>
Standards-Version: 3.8.0
Homepage: http://www.lbreyer.com/gpl.html

Package: dbacl
Architecture: any
Section: text
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: digramic Bayesian text classifier
 dbacl can distill text documents into categories, and then
 compare other text documents to the learned categories. 
 .
 It can be used to recognize spam, and more generally
 sort incoming email into any number of categories such as
 work, play, and so on.
 .
 As a noise filter, it can be useful during the indexing of
 personal document collections.
