#!/usr/bin/make -f
# rules -- Debian packaging rules for dbacl

%:
	dh ${@}

override_dh_auto_configure:
	aclocal
	autoconf
	autoheader
	automake --add-missing --copy --force-missing --gnu

	dh_auto_configure

override_dh_fixperms:
	dh_fixperms

	for file in classify finalize initialize train ; do \
	  chmod 755 debian/dbacl/usr/share/dbacl/TREC/$$file ; \
	done
